/* Estilos para el encabezado */
header {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header img {
  width: 150px;
  height: 170px;
  border-radius: 50%;
}

h1 {
  margin-top: 0;
}

/* Estilos para la sección de habilidades */
.habilidades {
  background-color: #b2dfee;
}

.habilidades li {
  display: inline-block;
  color: #333;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 50px;
  font-weight: bold;
}

/* Estilos para la sección de proyectos */
.proyectos {
  background-color: #4d4d4d;
}

.proyectos li a {
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.proyectos h2 {
  margin-top: 0;
  color: pink;
}

.project p {
  margin: 0;
}

/* Estilos para la sección de contacto */
.contacto {
  background-color: #6fc3ff;
  margin: 20px 0;
}

.contacto p {
  margin: 0;
}

.contacto a {
  color: #212121;
  font-weight: bold;
}

.contacto a:hover {
  text-decoration: underline;
}
